# Dependencies
**/node_modules/

# Next.js
**/.next/
out/

# NestJS
**/dist/

# Coverage`
coverage/

# Env
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

git remote set-url origin https://github.com/tiwari-vinay/financial-tracking-system.git